<header class="header">

    <div class="logo-header">
        <h1>AXM</h1>
    </div>

    <div class="menu">
        <a [routerLink] = "['/']"  fragment="main"> Home </a>
        <a [routerLink] = "['/']"  fragment="about-me"> About </a>
        <a [routerLink] = "['/']"  fragment="my-work"> Portfolio </a>
    </div>
</header>

<header class="header-mobile">

    <div class="header-mobile-menu">
        <div class="logo-header">
            <h1>AXM</h1>
        </div>
    
        <img src="/assets/img/menu-icon.svg" (click)="showMobileMenu()" class="menu-btn">
    </div>

    <div class="header-mobile-menu-list" [ngClass]="{'display-none':attachClass}">
        <a [routerLink] = "['/']"  fragment="main"> Home </a>
        <a [routerLink] = "['/']"  fragment="about-me"> About </a>
        <a [routerLink] = "['/']"  fragment="my-work"> Portfolio </a>
    </div>
</header>

