.header{
    height: 86px;
    margin-top: 0;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
    width: 80vw;
    margin: auto;
    @media only screen and (min-width: 1440px) {
        width: 1440px;
      }
    @media only screen and (max-width: 768px) {
        display: none;
      }  
}

.logo-header {
    margin-left: 10vw;
    @media only screen and (min-width: 1440px) {
        margin-left: 0;
      }
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 10vw;
    @media only screen and (min-width: 1440px) {
        margin-right: 0;
      }
   
    a{
        text-decoration: none;
        color: white;
        width: 49px;
        height: 19px;
        margin-right: 23px;
        margin-left: 23px;
        font-size: 23px;
        &:hover{
            color:#FA2759;
        }
        

    }
}



.header-mobile{
  width: 100vw !important;
  @media only screen and (min-width: 768px) {
      display: none;
    }

    .header-mobile-menu{
      height: 86px;
      margin-top: 0;
      display: flex;
      color: white;
      align-items: center;
      justify-content: space-between;
      width: 80vw;
      margin: auto;
    }

    .header-mobile-menu-list{
      width: 100vw !important;
      display: flex;
      align-items: center;
      flex-direction: column;
      height: 120px;
      background-color: #1a1a1a;

      a{height: 40px;
        color: white;
        text-decoration: none;
        font-size: 20px;
        margin-top: 8px;
        &:hover{
          color: #FA2759;
        }
      }

      
    }
}


/*to added classList*/

.display-none{
  display: none;
}



