.footer {
    width: 100vw;
    height: 200px;
    margin: auto;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media only screen and (min-width: 1440px) {
       width: 100vw;
      }
    
      @media only screen and (max-width: 768px) {
        width: 100vw;
        height: 150px;
        flex-direction: column-reverse;
        justify-content: center;
    }   
    p{
        font-size: 20px;
        margin-left: 40px;
        color: #8491A0;
        @media only screen and (max-width: 768px) {
            margin-left: 0;
        } 
    }

    .social-media-logos{
        margin-right: 40px;
        width: 200px;
        display: flex;
        justify-content: space-between;
        @media only screen and (max-width: 768px) {
            align-items: center;
            margin-right: 0;
        } 
    }
}