.footer {
    width: 100vw;
    height: 200px;
    margin: auto;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media only screen and (min-width: 1440px) {
        width: 1440px;
      }
    p{
        font-size: 20px;
        margin-left: 40px;
        color: #8491A0;
    }

    .social-media-logos{
        margin-right: 40px;
        width: 200px;
        display: flex;
        justify-content: space-between;
    }
}