<div class="about-me">

    <div class="up-container">
        <div class="profile-picture">
            <img src="assets/img/profile.jpeg">
        </div>
        <div class="about-me-info">
            <h1>About me.</h1>
            <p>I am front end developer adssadasdsadasdsadas <br>
                and sports enthusiastasdasdsadsadsadadasdasd
             </p>
            
        </div>
    </div>

    <div class="down-container">

        <div class="one-step">
            <img src="" alt="">
            <p class="headline">My Journey began</p>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae assumenda dolor nisi!</p>
        </div>

        <div>

        </div>

        <div>

        </div>

        <div>

        </div>

    </div>


</div>
