<div class="about-me" id="about-me">

    <div class="up-container">
        <div class="profile-picture">
            <img src="assets/img/profile.jpeg">
        </div>
        <div class="about-me-info">
            <h1>About me.</h1>
            <p>I am front end developer adssadasdsadasdsadas <br>
                and sports enthusiastasdasdsadsadsadadasdasd
             </p>
            
        </div>
    </div>

    <div class="down-container">

        <div class="one-step">
            <div class="img-div">
                <img src="assets/img/walk-line.svg">
            </div>
            <p class="headline">My Journey</p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae assumenda dolor nisi!
        </div>

        <div class="one-step">
            <div class="img-div">
                <img src="assets/img/heart-line.svg">
            </div>
            <p class="headline">My Journey</p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae assumenda dolor nisi!
        </div>

        <div class="one-step">
            <div class="img-div">
                <img src="assets/img/search-line.svg">
            </div>
            <p class="headline">My Journey</p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae assumenda dolor nisi!
        </div>

        <div class="one-step">
            <div class="img-div">
                <img src="assets/img/flight-takeoff-line.svg">
            </div>
            <p class="headline">My Journey</p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae assumenda dolor nisi!
        </div>

        

    </div>


</div>
