<div class="about-me" id="about-me">

    <div class="up-container">
        <div class="profile-picture">
            <img src="assets/img/profile.png">
        </div>
        <div class="about-me-info">
            <h1>About me.</h1>
            <p>I am Front-End Developer, enjoying the web always looking for new challenges<br>
                
             </p>
            
        </div>
    </div>

    <div class="down-container">

        <div class="one-step">
            <div class="img-div">
                <img src="assets/img/walk-line.svg">
            </div>
            <p class="headline">My Journey</p>
            started by coding small websites at home and watching tutorials to improve my coding skills
        </div>

        <div class="one-step">
            <div class="img-div">
                <img src="assets/img/search-line.svg">
            </div>
            <p class="headline">My Search</p>
            started afte I found out about coding bootcamps. Later I decided to become a professional developer
        </div>

        <div class="one-step">
            <div class="img-div">
                <img src="assets/img/heart-line.svg">
            </div>
            <p class="headline">My Passion</p>
            was always technologie.  I was curious about how software is being developed and deployed
        </div>

        <div class="one-step">
            <div class="img-div">
                <img src="assets/img/flight-takeoff-line.svg">
            </div>
            <p class="headline">My Journey</p>
            started to participate at a professional software development school which has brought me to this portfolio
        </div>

        

    </div>


</div>
