.my-work{
    height: 80vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    @media only screen and (min-width: 1440px) {
        height: 1200px;
        width: 1440px !important;
        margin: auto !important;
       }

    @media only screen and (max-width: 1439px) {
        height: 1060px;
       }

    @media only screen and (max-width: 1024px) {
        height: 900px;
      }  
    @media only screen and (max-width: 768px) {
        height: 800px;    
     }
     
     @media only screen and (max-width: 763px) {
        height: 800px;    
     }
     
     @media only screen and (max-width: 565px) {
        height: 1700px;
     } 

     @media only screen and (max-width: 450px) {
        height: 1400px;
     }

     @media only screen and (max-width: 380px) {
        height: 1200px;

     } 
    
    .headline{
        color: white;
        margin-top: 5vh;
        font-size: 36px;
    }

    .technologie-section {
        margin-top: 30px;
        button{
            width: 128px;
            height: 70px;
            border: 2px solid #FA2759;
            color: white;
            margin-left: 5px;
            margin-right: 5px;
            background-color: black;
            &:hover{
                background-color: #FA2759;
            }
            @media only screen and (max-width: 456px){
                width: 30vw;
            }
        }
    }

    .my-work-gallery{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        width: 80vw;
        height: 1500px;
        margin-top: 20px;
        
        @media only screen and (min-width: 1440px) {
            height: 800px; 
           }
        @media only screen and (max-width: 1440px) {
            height: 600px;
          }
          @media only screen and (max-width: 768px) {
            height: 500px;
         }
        
         @media only screen and (max-width: 565px) {
            height: 800px !important;
         } 

        
        
       
        
        .one-work{
            width: 35%;
            height: 45%;
            border: 1px solid black;
            margin-left: 8px;
            margin-right: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
            @media only screen and (max-width: 565px) {
                width: 80vw;
             }     
            
             @media only screen and (max-width: 450px) {
                width: 80vw;
                height: 35%;
             }

             @media only screen and (max-width: 380px) {
                width: 80vw;
                height: 30%;
             }

             @media only screen and (max-width: 380px) {
                width: 80vw;
                height: 27%;
             }

             

            img{
                object-fit: cover;
                    width: 95%;  
            }
            
        }
    }
}

.display-none{
    display: none !important;
}

.background-red {
    background-color: #FA2759 !important;
}