
.my-work{
    height: 80vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    @media only screen and (min-width: 1440px) {
        height: 1200px;
        width: 1440px !important;
        margin: auto !important;
       }

    @media only screen and (max-width: 1439px) {
        height: 1060px;
       }

    @media only screen and (max-width: 1024px) {
        height: 900px;
      }  
    @media only screen and (max-width: 768px) {
        height: 800px;    
     }
     
     @media only screen and (max-width: 763px) {
        height: 800px;    
     }
     
     @media only screen and (max-width: 565px) {
        height: 1700px;
     } 

     @media only screen and (max-width: 450px) {
        height: 1400px;
     }

     @media only screen and (max-width: 380px) {
        height: 1200px;

     } 
    
    .headline{
        color: white;
        margin-top: 5vh;
        font-size: 36px;
    }

    .technologie-section {
        margin-top: 30px;
        button{
            width: 128px;
            height: 70px;
            border: 2px solid #FA2759;
            color: white;
            margin-left: 5px;
            margin-right: 5px;
            background-color: black;
            &:hover{
                background-color: #FA2759;
            }
            @media only screen and (max-width: 456px){
                width: 30vw;
            }
        }
    }

    .my-work-gallery{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        width: 80vw;
        height: 1500px;
        margin-top: 20px;
        
        @media only screen and (min-width: 1440px) {
            height: 800px; 
           }
        @media only screen and (max-width: 1440px) {
            height: 600px;
          }
          @media only screen and (max-width: 768px) {
            height: 500px;
         }
        
         @media only screen and (max-width: 565px) {
            height: 800px !important;
         } 

        
        
       
        
        .one-work-pollo-loco{
            width: 35%;
            height: 45%;
            border: 1px solid black;
            margin-left: 8px;
            margin-right: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            @media only screen and (max-width: 565px) {
                width: 80vw;
             }     
            
             @media only screen and (max-width: 450px) {
                width: 80vw;
                height: 35%;
             }

             @media only screen and (max-width: 380px) {
                width: 80vw;
                height: 30%;
             }

             @media only screen and (max-width: 380px) {
                width: 80vw;
                height: 27%;
             }

            img{
                object-fit: cover;
                    width: 95%;  
            }

            &:hover {
                .one-work-img {
                   
                }

                .hover-div-pollo-loco{
                    display: flex;
                } 
            }

            .hover-div-pollo-loco{
                
                background-color:rgba(255,255,255,.8);
                border-radius: 10px;
                z-index: 1;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 0;
                right: 0;
                width: 95%;
                height: 90%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                display: none;
                .hover-link-div-pollo-loco{
                    display: flex;
                }
                h2{
                    color: #FA2759;
                }
                a{
                    color: black;
                    text-decoration: none;
                    border: 1px solid #FA2759;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 20px;
                    background-color: white;
                    margin-left: 5px;
                    margin-right: 5px;
                }
                @media only screen and (max-width: 1200px) {
                    height: 75%;
                    h2{
                        font-size: 15px;
                    }
                    p{
                        font-size: 13px;
                    }
                    a{
                        padding: 15px;
                        font-size: 13px;
                    }
                 }
                 @media only screen and (max-width: 900px) {
                    height: 60%;
                    h2{
                        font-size: 15px;
                    }
                    p{
                        font-size: 10px;
                    }
                    a{
                        padding: 12px;
                        font-size: 10px;
                    }
                 } 
                 @media only screen and (max-width: 565px) {
                    height: 75% !important;
                    h2{
                        font-size: 15px !important;
                    }
                    p{
                        font-size: 13px;
                    }
                    a{
                        padding: 15px;
                        font-size: 13px;
                    }
                 }  
            }
            
        } 
        
        .one-work-join{
            width: 35%;
            height: 45%;
            border: 1px solid black;
            margin-left: 8px;
            margin-right: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            @media only screen and (max-width: 565px) {
                width: 80vw;
             }     
            
             @media only screen and (max-width: 450px) {
                width: 80vw;
                height: 35%;
             }

             @media only screen and (max-width: 380px) {
                width: 80vw;
                height: 30%;
             }

             @media only screen and (max-width: 380px) {
                width: 80vw;
                height: 27%;
             }

            img{
                object-fit: cover;
                    width: 95%;  
            }

            &:hover {
                .one-work-img {
                   
                }

                .hover-div-join{
                    display: flex;
                } 
            }

            .hover-div-join{
                height: 79%;
                width: 100%;
                background-color:rgba(255,255,255,.8);
                border-radius: 10px;
                z-index: 1;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 0;
                right: 0;
                width: 95%;
                height: 90%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                display: none;
                .hover-link-div-join{
                    display: flex;
                }
                h2{
                    color: #FA2759;
                }
                a{
                    color: black;
                    text-decoration: none;
                    border: 1px solid #FA2759;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 20px;
                    background-color: white;
                    margin-left: 5px;
                    margin-right: 5px;
                }
                @media only screen and (max-width: 1200px) {
                    height: 75%;
                    h2{
                        font-size: 15px;
                    }
                    p{
                        font-size: 13px;
                    }
                    a{
                        padding: 15px;
                        font-size: 13px;
                    }
                 }
                 @media only screen and (max-width: 900px) {
                    height: 60%;
                    h2{
                        font-size: 15px;
                    }
                    p{
                        font-size: 10px;
                    }
                    a{
                        padding: 12px;
                        font-size: 10px;
                    }
                 }
                 @media only screen and (max-width: 565px) {
                    height: 75% !important;
                    h2{
                        font-size: 15px !important;
                    }
                    p{
                        font-size: 13px;
                    }
                    a{
                        padding: 15px;
                        font-size: 13px;
                    }
                 }   
            }
            
        } 


        .one-work-ringoffire{
            width: 35%;
            height: 45%;
            border: 1px solid black;
            margin-left: 8px;
            margin-right: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            @media only screen and (max-width: 565px) {
                width: 80vw;
             }     
            
             @media only screen and (max-width: 450px) {
                width: 80vw;
                height: 35%;
             }

             @media only screen and (max-width: 380px) {
                width: 80vw;
                height: 30%;
             }

             @media only screen and (max-width: 380px) {
                width: 80vw;
                height: 27%;
             }

            img{
                object-fit: cover;
                    width: 95%;  
            }

            &:hover {
                .one-work-img {
                   
                }

                .hover-div-ringoffire{
                    display: flex;
                } 
            }

            .hover-div-ringoffire{
                height: 90%;
                width: 90%;
                background-color:rgba(255,255,255,.8);
                border-radius: 10px;
                z-index: 1;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 0;
                right: 0;
                width: 95%;
                height: 90%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                display: none;
                .hover-link-div-ringoffire{
                    display: flex;
                }
                h2{
                    color: #FA2759;
                }
                a{
                    color: black;
                    text-decoration: none;
                    border: 1px solid #FA2759;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 20px;
                    background-color: white;
                    margin-left: 5px;
                    margin-right: 5px;
                }
                @media only screen and (max-width: 1200px) {
                    height: 75%;
                    h2{
                        font-size: 15px;
                    }
                    p{
                        font-size: 13px;
                    }
                    a{
                        padding: 15px;
                        font-size: 13px;
                    }
                 }
                 @media only screen and (max-width: 900px) {
                    height: 60%;
                    h2{
                        font-size: 15px;
                    }
                    p{
                        font-size: 10px;
                    }
                    a{
                        padding: 12px;
                        font-size: 10px;
                    }
                 }
                 @media only screen and (max-width: 565px) {
                    height: 75% !important;
                    h2{
                        font-size: 15px !important;
                    }
                    p{
                        font-size: 13px;
                    }
                    a{
                        padding: 15px;
                        font-size: 13px;
                    }
                 }  
            }
            
        } 


        .one-work-portfolio{
            width: 35%;
            height: 45%;
            border: 1px solid black;
            margin-left: 8px;
            margin-right: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            @media only screen and (max-width: 565px) {
                width: 80vw;
             }     
            
             @media only screen and (max-width: 450px) {
                width: 80vw;
                height: 35%;
             }

             @media only screen and (max-width: 380px) {
                width: 80vw;
                height: 30%;
             }

             @media only screen and (max-width: 380px) {
                width: 80vw;
                height: 27%;
             }

            img{
                object-fit: cover;
                    width: 95%;  
            }

            &:hover {
                .one-work-img {
                   
                }

                .hover-div-portfolio{
                    display: flex;
                } 
            }

            .hover-div-portfolio{
                height: 99%;
                width: 93%;
                background-color:rgba(255,255,255,.8);
                border-radius: 10px;
                z-index: 1;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 0;
                right: 0;
                width: 95%;
                height: 90%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                display: none;
                .hover-link-div-portfolio{
                    display: flex;
                }
                    
                    h2{
                        color: #FA2759;
                    }
                    a{
                        text-decoration: none;
                        border: 1px solid #FA2759;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 20px;
                        background-color: white;
                        margin-left: 5px;
                        margin-right: 5px;
                        color: black;
                    }
                    @media only screen and (max-width: 1200px) {
                        height: 75%;
                        h2{
                            font-size: 15px;
                        }
                        p{
                            font-size: 13px;
                        }
                        a{
                            padding: 15px;
                            font-size: 13px;
                        }
                     }
                     @media only screen and (max-width: 900px) {
                        height: 60%;
                        h2{
                            font-size: 15px;
                        }
                        p{
                            font-size: 10px;
                        }
                        a{
                            padding: 12px;
                            font-size: 10px;
                        }
                     } 
                     @media only screen and (max-width: 565px) {
                        height: 75% !important;
                        h2{
                            font-size: 15px !important;
                        }
                        p{
                            font-size: 13px;
                        }
                        a{
                            padding: 15px;
                            font-size: 13px;
                        }
                     }   
                
                
            }
            
        } 


        
    }
}









// added classes ngClass

.display-none{
    display: none !important;
}

.background-red {
    background-color: #FA2759 !important;
}



