<div class="my-work" id="my-work">

    <div class="headline">
        <h1>My work</h1>
    </div>

    <div class="technologie-section">
        <button (click)="showAll()" [ngClass]="{'background-red': allButton}">All</button>
        <button (click)="showAngular()" [ngClass]="{'background-red': angularButton}" >Angular</button>
        <button (click)="showJavascript()" [ngClass]="{'background-red': jsButton}">Javascript</button>
    </div>

    <div class="my-work-gallery">

        <div class="one-work-pollo-loco" [ngClass]="{'display-none': jsScript}">
            <div class="hover-div-pollo-loco">
                <h2>El pollo Loco</h2>
                <p>JavaScript -based jump and run game</p>
                <div class="hover-link-div-pollo-loco">
                    <a href="https://alexander-much.developerakademie.net/El-Pollo-Loco/index.html" target="_blank">Try it out</a>
                    <a href="https://github.com/axmmxa/El-Pollo-Loco" target="_blank">GitHub</a>
                </div>
                
            </div>
            <a class="one-work-img" href="https://alexander-much.developerakademie.net/El-Pollo-Loco/index.html"><img src="assets/img/pollo-loco-macbook.png"></a>
        </div>



        <div class="one-work-join" [ngClass]="{'display-none': jsScript}">
            <div class="hover-div-join">
                <h2>Join</h2>
                <p>JavaScript -projektmanagement tool</p>
                <div class="hover-link-div-join">
                    <a href="https://alexander-much.developerakademie.net/Join/login.html" target="_blank">Try it out</a>
                    <a href="https://github.com/axmmxa/Join" target="_blank">GitHub</a>
                </div>  
            </div>
            <a href="https://alexander-much.developerakademie.net/Join/login.html"><img src="assets/img/imac-join.png" ></a>
        </div>



        <div class="one-work-ringoffire" [ngClass]="{'display-none': angular}">
            <div class="hover-div-ringoffire">
                <h2>Ring of Fire</h2>
                <p>Angular -multiplayer card game</p>
                <div class="hover-link-div-ringoffire">
                    <a href="https://alexander-much.developerakademie.net/ringoffire" target="_blank">Try it out</a>
                    <a href="https://github.com/axmmxa/ringoffire" target="_blank">GitHub</a>
                </div>
            </div>
            <a href="https://alexander-much.developerakademie.net/ringoffire"><img src="assets/img/ring-of-fire.jpg" ></a>
        </div>




        <div class="one-work-portfolio" [ngClass]="{'display-none': angular}">
            <div class="hover-div-portfolio">
                <h2>Portfolio</h2>
                <p>Angular -my personal website</p>
                <div class="hover-link-div-portfolio">
                    <a href="https://alexander-much.developerakademie.net/portfolio" target="_blank">Try it out</a>
                    <a href="https://github.com/axmmxa/portfolio-website" target="_blank">GitHub</a>
                </div>
            </div>
            <a href="#"><img src="assets/img/mb-ipad.jpg" ></a>
        </div>
    </div>
</div>
