<div class="my-work" id="my-work">

    <div class="headline">
        My work
    </div>

    <div class="technologie-section">
        <button (click)="showAll()" [ngClass]="{'background-red': allButton}">All</button>
        <button (click)="showAngular()" [ngClass]="{'background-red': angularButton}" >Angular</button>
        <button (click)="showJavascript()" [ngClass]="{'background-red': jsButton}">Javascript</button>
    </div>

    <div class="my-work-gallery">

        <div class="one-work" [ngClass]="{'display-none': jsScript}">
            <div class="hover-div">
                test
            </div>
            <a class="one-work-img" href="https://alexander-much.developerakademie.net/El-Pollo-Loco/index.html"><img src="assets/img/pollo-loco-macbook.png"></a>
        </div>



        <div class="one-work" [ngClass]="{'display-none': jsScript}">
            <a href="https://alexander-much.developerakademie.net/Join/login.html"><img src="assets/img/imac-join.png" ></a>
        </div>

        <div class="one-work" [ngClass]="{'display-none': angular}">
            <a href="https://alexander-much.developerakademie.net/ringoffire"><img src="assets/img/ring-of-fire.jpg" ></a>
        </div>

        <div class="one-work" [ngClass]="{'display-none': angular}">
            <a href="#"><img src="assets/img/mb-ipad.jpg" ></a>
        </div>
    </div>
</div>
