<div class="contact-me-container">

    <div class="contact-me">
        <h1>Contact me</h1>
        Get in touch via the form below, or by emailing much.lexander@googlemail.com

        <form class="form">

            <label for="">Name</label>
        
            <input type="text" placeholder="Enter your name">

            <label for="">Email</label>
            <input type="text" placeholder="Enter your Email adress">

            <label for="">Message</label>
            <textarea name="" id="" cols="78" rows="13" placeholder="Enter your message"></textarea>

            <div class="button-div">
                <button>send</button>
            </div>
        </form>
    </div>
</div>
