<div class="contact-me-container" id="contact-me">

    <div class="contact-me">
        <h1>Contact me.</h1>
        <p>Get in touch via the form below, or by emailing much.lexander@googlemail.com</p>
        

        <form class="form" (submit)="sendMail()" ngNativeValidate #myForm>

            <label for="">Name</label>
            <input required name="namer" type="text" placeholder="Enter your name" #nameField  >

            <label for="">Email</label>
            <input required type="text" placeholder="Enter your Email adress" #emailField>

            <label for="">Message</label>
            <textarea required name="message" id="" cols="78" rows="13" placeholder="Enter your message" #messageField></textarea>

            <div class="button-div">
                
                <button #sendButton>Send</button>
                <div class="mail-send-sucess" [ngClass]="{'display-none': display}">
                    Your mail was send !
                </div>
            </div>

            
        </form>
    </div>
</div>
