.main-info{
    width: 80%;
    height: 53vh;
    margin: auto;
    color: white;
    @media only screen and (min-width: 1440px) {
        width: 1440px;
        height: calc(100vh - 5vh - 86px)
      }
    @media only screen and (max-width: 1439px) {
        width: 80vw;
        height: calc(100vh - 5vh - 86px)
      }
    @media only screen and (max-width: 1024px) {
        height: calc(100vh - 5vh - 86px)
    } 
    @media only screen and (max-width: 768px) {
        width: 100vw;
        height: 620px;
        justify-content: center;
     } 

    @media only screen and (max-width: 565px) {
        margin-top: 100px;
     }  
    
}

.main-info-container {
    margin-top: 5vh;
    display: flex;
    align-items: center;
    height: 80%;
    @media only screen and (max-width: 768px) {
       flex-direction: column-reverse;
       align-items: center;
       margin-left: 12;
       max-width: 100vw;
    }  
}

.main-info-left {
    width: 60vw;
    font-size: 55px;
    margin-top: 0vh;
    margin-left: 10vw;
    @media only screen and (max-width: 768px) {
        margin: 0;
        font-size: 6vw;
    }

    @media only screen and (max-width: 565px) {
        height: 250px ;
        width: 100w ; 
        margin-top: 60px;
    }
    

    .name{
        color: #FA2759;
    }
    .letter{
        color: #2DFCD8;
    }

    .contact-link{
        text-decoration: none;
        color:  #2DFCD8;
        background-color: black;
        border: 2px solid  #2DFCD8;
        margin-top: 55px;
        font-size: 25px;
        padding: 20px;
        &:hover{
            cursor: pointer;
            background-color: #2DFCD8;
            color: white;
        }
        @media only screen and (min-width: 1440px) {
            width: 400px;
            margin-left: 0;
        }
        @media only screen and (max-width: 768px) {
            width: 54vw;
         }
         @media only screen and (max-width: 565px) {
            padding-left: 11vw;
            padding-right: 11vw;
        }

        @media only screen and (max-width: 400px) {
            padding-left: 10vw;
            padding-right: 10vw;
        }

        @media only screen and (max-width: 360px) {
            padding-left: 8vw;
            padding-right: 8vw;
           
        }
        @media only screen and (max-width: 330px) {
            padding-left: 6vw;
            padding-right: 6vw;
            
        } 
    }

    
       
}

.main-info-right{
    margin-right: 10vw;
    
     
    img {
        background-color: #FA2759;
        border-radius: 100%;
        width: 350px;
        height: 350px;
        @media only screen and (min-width: 1440px) {
            margin-right: 0;
          }
        @media only screen and (max-width: 1440px) {
            width: 300px;
            height: 300px;
          }
        @media only screen and (max-width: 1024px) {
            height: 250px;
            width: 250px;
          }
        @media only screen and (max-width: 565px) {
            margin-right: 0;
            margin-left: 10vw;
            
        }  
    }
   
}

.down-btn-section {
    width: 100%;
    height: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
    @media only screen and (max-width: 768px) {
       display: none;
     }  
}

.down-btn{
    height: 45px;
    width: 45px;
    border:1px solid white;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover{
        cursor: pointer;
    }
    
}



