<div class="main-info">

    <div class="main-info-container">

        <div class="main-info-left">
            Hi,<br> 
            I am <span class="name" >Alexander</span> Much<br>
            Front End develop<span class="letter">e</span>r <br>

            <button class="contact-btn">Contact me</button>

        </div>
       
        <div class="main-info-right">
            <img  src="assets/img/profile.jpeg" alt="">
        </div>

    </div>

    <div class="down-btn-section">
        <a class="down-btn" href="">
            <img src="assets/img/white-arrow.svg">
        </a>
        
        
    </div>
   
</div>


