<div class="main-info" id="main">

    <div class="main-info-container">

        <div class="main-info-left">
            Hi,<br> 
            I am <span class="name" >Alexander</span> Much<br>
            Front End develop<span class="letter">e</span>r 
            <br>
            <br>
            <a (click)="toContactMe()" class="contact-link"> Contact me </a>
        </div>
       
        <div class="main-info-right">
            <img  src="assets/img/profile.jpeg" alt="">
        </div>

    </div>

    <div class="down-btn-section">
        
            <a (click)="toMySkills()" class="down-btn" >
                <img src="assets/img/white-arrow.svg">
            </a>
            
    </div>
   
</div>


