.skill-container {
    width: 100vw;
    height: 70vh;
    margin: auto;
    background-color:#1A1A1A;
    display: flex;
    align-items: center;
    flex-direction: column;
    @media only screen and (min-width: 1440px) {
        width: 1440px;
        height: 1000px !important;
    }

    @media only screen and (max-width: 1439px) {
        height: 750px !important;
      }

    @media only screen and (min-width: 768px) {
        height: 700px;
    }  
 
    @media only screen and (max-width: 768px) {
        height: 700px;
      }  

    .headline{
        color: white;
        margin-top: 5vh;
        font-size: 36px;
        @media only screen and (min-width: 1440px) {
            font-size: 60px;
          }
    }

    .skill-box{
        width: 650px;
        height: 85vh;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        @media only screen and (max-width: 768px) {
            width: 100vw;
          }  

       

        .one-skill-box{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            height: 200px;
            @media only screen and (max-width: 768px) {
                background-color: red !important;
             }  

        .skill-logo{
                width: 60px;
                height: 60px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: white;
                border-radius: 100%;
                z-index: 1;
                margin-bottom: -30px;
                box-shadow: 0px 4px 4px rgba(197, 197, 197, 0.25);
                img{
                    height: 20px;
                    width: 20px;
                }
                @media only screen and (max-width: 768px) {
                    
                  } 
            }
    
        .skill{
                color: black;
                width: 182px;
                height: 119px;
                border-radius: 6px;
                background-color: white;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
            }
        }
        
    }
}

