<div class="skill-container">

   <div class="headline">
        My Skills
   </div>

   <div class="skill-box">

        <div class="one-skill-box">
            <div class="skill-logo">
                <img src="assets/img/js-logo.png">
            </div>
    
            <div class="skill">
                Javascript
            </div>
        </div>

        <div class="one-skill-box">
            <div class="skill-logo">
                <img src="assets/img/angular.png">
            </div>
    
            <div class="skill">
                Angular
            </div>
        </div>

        <div class="one-skill-box">
            <div class="skill-logo">
                <img src="assets/img/HTML.svg">
            </div>
    
            <div class="skill">
                HTML / CSS
            </div>
        </div>

        <div class="one-skill-box">
            <div class="skill-logo">
                <img src="assets/img/Scrum.svg">
            </div>
    
            <div class="skill">
                Scrum
            </div>
        </div>

        <div class="one-skill-box">
            <div class="skill-logo">
                <img src="assets/img/Git.svg">
            </div>
    
            <div class="skill">
                Git
            </div>
        </div>

        <div class="one-skill-box">
            <div class="skill-logo">
                <img src="assets/img/Design.svg">
            </div>
    
            <div class="skill">
                Design<br>
                Thinking
            </div>
        </div>

        <div class="one-skill-box">
            <div class="skill-logo">
                <img src="assets/img/Rest-API.svg">
            </div>
    
            <div class="skill">
                Rest API
            </div>
        </div>

        <div class="one-skill-box">
            <div class="skill-logo">
                <img src="assets/img/test.svg">
            </div>
    
            <div class="skill">
                Test<br>
                automation
            </div>
        </div>

        <div class="one-skill-box">
            <div class="skill-logo">
                <img src="assets/img/database.svg">
            </div>
    
            <div class="skill">
                Databases
            </div>
        </div>
        

   </div>

   
    

   
</div>
